:root{
    --blanco : #ffffff;
    --fondo : #fefbfb;
    --azul : #455ff4;
    --rojo : #f56e6e;
    --fondoAzul : rgb(31, 77, 134);
    --fuentePrincipal : 'Nunito', sans-serif;
    --fuenteSec : 'Dosis', sans-serif;
   
}
h1,p{
    font-family: var(--fuenteSec);
    margin: 0;
}

body{
    background-color: var(--rojo);
}
.contenedor{
    max-width:1200px;
}

.header{
    display:flex;
    background-color: var(--rojo);
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    width: 350px;
    height: 150px;
}
.header img{
    width: 130px;
    border-radius: 100px;
}
.titulo{
    color: white;
    text-align: center;
    font-size:10px
}


/* .subheader-cont{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .subheader{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 75px;
    width: 45%;
    background-color: var(--azul);
    gap: 20px;
} */
.fecha{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    text-align: center;
  
}
#dia,#fecha,#mes{
    color: var(--blanco);
    margin: 0;
    font-weight: 600;
    font-family: var(--fuenteSec);
}
#dia{
    font-size: 20px;
    background-color: var(--rojo);
    height: 20%;
}
#fecha{
    font-size: 70px;
    background-color:var(--rojo);
    height: 60%;
}
#mes{
    font-size: 20px;
    background-color: var(--azul);
    height: 20%;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 50%;
}
.hora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    text-align: center;
}
#horas,#minutos,#segundos{
    color: var(--blanco);
    margin: 0;
    font-weight: 600;
    font-family: var(--fuenteSec);
}
#segundos{
    font-size: 20px;
    height: 20%;

}
#horas{
    font-size: 70px;
    height: 60%;
}

#minutos{
    font-size: 20px;
    background-color:var(--azul);
    height: 20%;
    border-radius: 10px;
    color: black
}
.menu2, .menu3{
    display:none;
}
#textoIntermedio{
    text-align: center;
    font-family: var(--fuenteSec);
}
#destino{
    color:var(--roj);
    font-family: var(--fuenteSec);

    border-radius: 10px;
}
/* 
.botonManual-cont{
    display: none;
    justify-content:center;
    align-items: center;
}
#botonManual{
    height:60px;
    border-radius: 10px;
    background-color:lightgray;
    font-family: var(--fuenteSec);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding:0 10px;
    background-color: var(--azul);
    width: 40%;
    font-size: 15px;
}

#botonManual:active{
    background-color: var(--rojo);
}
#botonManual:hover{
    cursor: pointer;
}
.botonAuto-cont{
    display: none;
    justify-content:center;
    align-items: center;
}
#botonAuto{
    width: 40%;
    font-size: 15px;
    height:60px;
    border-radius: 10px;
    background-color:lightgray;
    font-family: var(--fuenteSec);
    color: black;
    font-weight: bold;
    padding:0 10px;
    background-color:var(--azul);
    color: white;
}
#botonAuto:active{
    background-color: var(--rojo);
}
#botonAuto:hover{
    cursor: pointer;
} */

.topside{
    display: flex;
    width:40%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color:lightgray;
    box-shadow: 0 2px 10px var(--rojo);
    border-radius: 10px;
    margin: 30px auto;
}
.busquedaAuto-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 5px auto;
}
.busquedaManual-cont{
    display:none;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto 5px;
}

.busquedaAuto1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    width:100%;
}
.busquedaAuto2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.busquedaAuto1 p{
    font-size:15px;
    font-weight:bold;
    text-align: center;
}
.busquedaAuto2 p{
    font-size:15px;
    font-weight:bold;
    width: 100%;
    text-align: center;
    margin: 7.5px;
}
.busquedaManual1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
}
.busquedaManual1 p{
    font-size:15px;
    font-weight:bold;
    padding:  0 20px;
    width: 100%;
}
.busquedaManual2{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
}
.busquedaManual2 p{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    padding-left: 20px;
    width: 100%;
}
.select{
    background-color:transparent;
    font-family: var(--fuenteSec);
    font-size:15px;
    border: none;
    text-align: center;
    width:175px;
    /* background-color: rgb(65, 117, 181);  */
    background-color:var(--azul);
    color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px var(--rojo);
    margin: 5px;
    font-weight: bold;
    height:50px
}
.select:hover{
    cursor: pointer;
}
.select > option{
    font-family: var(--fuenteSec);
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#busquedaInput2{
    background-color:transparent;
    font-family: var(--fuenteSec);
    font-size:15px;
    border: none;
    text-align: center;
    width:175px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 7px;
    box-shadow: 0 2px 5px var(--rojo);
    height: 50px;
    padding: 0;
    font-weight: bold;
    border: 3px solid var(--rojo);
}
::placeholder{
    font-family: var(--fuenteSec);
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.mensajeError{
    display: none;
    justify-content: center;

}
#mensaje{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rojo);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    color: rgb(255, 255, 255);
    width:40%;
    text-align: center;
}

.boton-cont{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
    margin: -5px;
}
.boton-cont2{
    display:none;
    justify-content:center;
    align-items: center;
    height:100px;
    margin: -5px;
}
#boton,#boton2{
    height:50px;
    width:125px;
    background-color:var(--azul);
    border: none;
    border-radius: 7px;
    font-family: var(--fuenteSec);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 1px var(--rojo);
    color: white;
}
#boton:active{
    cursor: pointer;
    background-color:rgb(0, 0, 0);
    color: white;
}
#boton:hover{
    cursor: pointer;
}
#boton2:hover{
    cursor: pointer;
}
#boton2:active{
    cursor: pointer;
    background-color:rgb(0, 0, 0);
    color: white;

}

.resultados-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
    width:100%;  
    margin: 0px;
}

.resultados,.resultados2{
height: 250px;
width: 50%;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
margin: 15px;
border:none;
border: .5px solid white;
background-color: aliceblue;
}
.resultados3,.resultados4{
height: 500px;
width: 50%;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
margin: 15px;
border:none;
border: .5px solid white;
background-color: aliceblue;
}
#actual1,#futuro1{
    padding: 0 10px;
    border-radius: 10px;
}
#actual3,#futuro3{
    padding: 0 10px;
    border-radius: 10px;
}
#actual2,#futuro2{
    border-radius: 10px;
    padding: 0 10px;
    margin: 5px;
}
#actual1,#actual2,#actual3{
    font-size:22px;
    font-family: var(--fuenteSec);
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#futuro1,#futuro2,#futuro3{
    font-size:22px;
    font-family: var(--fuenteSec);
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#mostrar1,#mostrar2,#mostrar3,#mostrar4{
    font-size:20px;
    font-family: var(--fuenteSec);
    font-weight: bold;
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
}
.mensaje2{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.912);   
    height: 100%;
    width: 100%;    
}
#mensaje2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.401);
    font-family: var(--fuenteSec);
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}
@media(max-width:600px){
    .select{
        height:50px
    }
    .input-reloj{
        height:50px;
        width: 200px;
    }
   
    #mensaje{
        width:75%;
        
    }
    #botonAuto,#botonManual{
        height: 60px;
        width: 85%;
    }
    #botonManual:active{
        background-color: rgb(0, 0, 0);

    }
    #botonAuto:active{
        background-color: rgb(0, 0, 0);

    }
    .topside{
        width: 85%;
       
    }
    .resultados,.resultados2,.resultados3{
        width: 85%;
        height: 175px;
        margin: 30px;
        border: .5px solid white;
    }
    
    #actual1,#actual2,#actual3,#futuro1,#futuro2,#futuro3{
        font-size: 16px;
    }
    #mostrar1,#mostrar2{
        font-size: 20px;
    }
    #actual1,#actual3,#futuro1,#futuro3{
        margin: 5px 0;
    }
    #mostrar1,#mostrar2{
        margin: 10px 10px;
    }
    #actual2,#futuro2{
        margin: 10px 5px;
    }
    .mensaje2{
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0; 
        background-color: rgba(0, 0, 0, 0.922);   
        height: 100%;
        width: 100%;    
    }
    #mensaje2{
        background-color: rgba(0, 0, 0, 0.401);
        width: 85%;
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
    }
    
}
