body{
    background-color: rgb(242, 34, 82);
}
.contenedor{
    max-width:1200px;
}
.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    background-color: rgb(242, 34, 82);
    margin-top: 20px;
}
.header p{
    font-family:'Nunito', sans-serif;
    font-size: bold;
    border-radius: 10px;
}
#nombre{
    font-size: 40px;
    margin: 0;
    background-color: lightgray;
    width: 350px;
    text-align: center;
    box-shadow: 0 2px 10px black;
    text-transform: uppercase;
}
.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px black;
}
.botonManual-cont{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px auto;
}
#botonManual{
    height:40px;
    border-radius: 10px;
    background-color:lightgray;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding:0 10px;
    background-color: rgb(65, 117, 181);
    width: 85%;
    font-size: 15px;
}
.botonAuto-cont{
    display: none;
    justify-content:center;
    align-items: center;
    margin: 10px auto;
}
#botonAuto{
    font-size: 15px;
    height:40px;
    border-radius: 10px;
    background-color:lightgray;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    padding:0 10px;
    background-color: rgb(65, 117, 181);
    color: white;
    width: 85%;
}
.topside{
    display: flex;
    width:85%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color:lightgray;
    box-shadow: 0 2px 10px black;
    border-radius: 10px;
    margin: 20px auto 0 auto;
}
.busquedaAuto-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 5px auto;
}
.busquedaManual-cont{
    display:none;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto 5px;
}

.busquedaAuto1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    width:100%;
}
.busquedaAuto2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.busquedaAuto1 p{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    text-align: center;
}
.busquedaAuto2 p{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    width: 100%;
    text-align: center;
    margin: 7.5px;
}
.busquedaManual1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
}
.busquedaManual1 p{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    padding:  0 20px;
    width: 100%;
}
.busquedaManual2{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
}
.busquedaManual2 p{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    padding-left: 20px;
    width: 100%;
}
.select{
    background-color:transparent;
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    border: none;
    text-align: center;
    width:175px;
    background-color: rgb(65, 117, 181);
    color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
    margin: 5px;
}
.select:hover{
    cursor: pointer;
}
.select > option{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#busquedaInput2{
    background-color:transparent;
    font-family: 'Nunito', sans-serif;
    font-size:15px;
    border: none;
    text-align: center;
    width:175px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
    height: 50px;
    padding: 0;
    font-weight: bold;
    border: 3px solid rgb(65, 117, 181);
}
::placeholder{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.mensajeError{
    display: none;
    justify-content: center;

}
#mensaje{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    color: rgb(255, 0, 0);
}

.boton-cont{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
}
.boton-cont2{
    display:none;
    justify-content:center;
    align-items: center;
    height:100px;
}
#boton,#boton2{
    height:75px;
    width:150px;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    font-weight: bold;
}
#boton:active{
    cursor: pointer;
    background-color:rgb(65, 117, 181);
    color: white;
    height: 70px;
}
#boton:hover{
    cursor: pointer;
}
#boton2:hover{
    cursor: pointer;
}
#boton2:active{
    cursor: pointer;
    background-color:rgb(65, 117, 181);
    color: white;
    height: 70px;
}

.resultados-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
    width:100%;    
}

.resultados{
width: 100%;
height: 100px;
font-size:12px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
background-color:lightgray;
margin:5px;
border:none;
box-shadow: 0 2px 5px black;
}
.resultados2{
width: 100%;
height: 100px;
font-size:12px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
background-color:lightgray;
margin:5px;
border:none;
box-shadow: 0 2px 5px black;
}
.resultados3{
width: 100%;
height: 100px;
font-size:12px;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
background-color:lightgray;
margin:5px;
border:none;
box-shadow: 0 2px 5px black;
}



#actual1,#futuro1{
    padding: 0 10px;
    border-radius: 10px;
}
#actual3,#futuro3{
    padding: 0 10px;
    border-radius: 10px;
}
#actual2,#futuro2{
  
    border-radius: 10px;
    padding: 0 10px;
}

#futuro1,#futuro2,#futuro3{
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}
#mostrar1,#mostrar2{
    font-size:14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}
@media(max-width:600px){
    .header{
        flex-direction: column;
        height: 150px;
    }
    .select{
        height:50px
    }
    .input-reloj{
        height:50px;
        width: 200px;
    }
    #actual1,#actual2,#actual3{
        font-size:15px;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        margin: 5px 0;
        text-align: center;
    }
    #fecha{
        font-size: 15px;
        background-color: lightgray;
        height: 100px;
        color: black;
        width: 350px;
        font-weight: bold;
    }
}
